
mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    height: 50px;
    color:"accent";
    
    
    a {     
      span{
        margin-left: 24px;
        float:right;
        padding:15px;
           }
           text-decoration : none;
           padding:10px;
           color: textcolor;
        
   
      &.active-link {
        color: white;
      }
   
    }
  }