<p>booking works!</p>
<img src="https://img.freepik.com/free-vector/room-reservation-online-customer-support-consultation-virtual-reception-office_335657-2488.jpg?w=826" alt="book2">
<div id="text">
  
<h2>Book Now &</h2><br>
<h2>Get FLAT 25% Off !!!</h2>


</div>
<button mat-raised-button  color="indigo" id="offer" ngxClipboard [cbContent]="'25OFF'">Click Here</button> 
<!-- <h2>Book Now
<br>Get FLAT 25% Off !!!</h2> -->


<div id="container">
  
    <form [formGroup]="formGroup" (ngSubmit) = "book()">
      <mat-form-field id="book1">
        <mat-label>
        Location
        </mat-label>
        <input formControlName="location" matInput type="text" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of filteredOptions" [value]="item">
            {{item}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <mat-form-field id="book2"> 
        <mat-label>
          From
          </mat-label>
        <input matInput [matDatepicker]="myDatePicker">
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker> 
      </mat-form-field>
      <mat-form-field id="book3">
        <mat-label>
          To
          </mat-label>
        <input matInput [matDatepicker]="myDatePicker">
        <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker> 

        <button mat-raised-button color="accent">Search</button>
      </mat-form-field>
    </form>
  
</div>
<!-- //testing team,refresh token basic error shldnot be there  authguard -->
<!-- nearby places guide , transportation,specoal packages, compare -->