
<div class="text1">
    <h1 style="font-size: 60px;">Welcome to MyStay.com</h1>
</div>
<br>
<p>We Serve For Your Better Stay</p>
 <div>
    <img src="https://img.freepik.com/free-vector/hotel-building-tourist-with-luggage-suitcase-man-reservates-room-by-smartphone-booking-apartment-concept_284092-2716.jpg?w=1060" alt="book">
<!-- <img src="/assets/images/image1crop.jpg" alt="img1"> -->
</div>

<h2>Why Us?</h2>
<div class="us">
    
    <ul >
        <li class="section1">
            <div class="text2">
                <h4 >Our Price Guarantee</h4>
                <!-- <p>View the profiles freely and connect with your fantastic teacher according to your criteria (prices, diploma, reviews, classes at home or online)</p> -->
            </div>
            <div>
                <img src="https://media.istockphoto.com/photos/chennai-aerial-view-with-marina-beach-picture-id500296908?b=1&k=20&m=500296908&s=612x612&w=0&h=FmXz41FI1vobG3jgX3IYH5MrAslTFVoRnQYJwecmOVw=" alt="us1">
            </div>
        </li>
        <li>
            <div>
                <img src="https://media.istockphoto.com/photos/chennai-aerial-view-with-marina-beach-picture-id500296908?b=1&k=20&m=500296908&s=612x612&w=0&h=FmXz41FI1vobG3jgX3IYH5MrAslTFVoRnQYJwecmOVw=" alt="us1"
                          
                controls>
            </div>
            <div class="text2">
                <h4 >Free cancellation</h4>
                <!-- <p>View the profiles freely and connect with your fantastic teacher according to your criteria (prices, diploma, reviews, classes at home or online)</p> -->
            </div>
        </li>
        <li class="section1">
            <div class="text2">
                <h4>Long stay discounts</h4>
                <!-- <p>View the profiles freely and connect with your fantastic teacher according to your criteria (prices, diploma, reviews, classes at home or online)</p> -->
            </div>
            <div>
                <img src="https://media.istockphoto.com/photos/chennai-aerial-view-with-marina-beach-picture-id500296908?b=1&k=20&m=500296908&s=612x612&w=0&h=FmXz41FI1vobG3jgX3IYH5MrAslTFVoRnQYJwecmOVw=" alt="us1">
            </div>
        </li>
       
    </ul>
<!--     long stay discounts
    <img src="/assets/images/image1crop.jpg" alt="us1">
    <img src="/assets/images/image1crop.jpg" alt="us1"> -->
    <div class="click">
        <!-- <h3>You`re just few clicks away from a cozy stay</h3> -->
        <h3>A cozy stay in just few clicks</h3>
        <h1>here's the hint to pack yous bags</h1>
            <button mat-raised-button >Book Now</button>
    </div>
</div>
<h2>Top Destinations</h2>  
<div class="places">
    <button mat-raised-button (click)="btnClick()"><img src="https://media.istockphoto.com/photos/chennai-aerial-view-with-marina-beach-picture-id500296908?b=1&k=20&m=500296908&s=612x612&w=0&h=FmXz41FI1vobG3jgX3IYH5MrAslTFVoRnQYJwecmOVw=" alt="chennai">
   </button>
<button mat-raised-button (click)="btnClick()"><img src="https://media.istockphoto.com/photos/charmiinar-picture-id145131015?k=20&m=145131015&s=612x612&w=0&h=_LzTE_Ytgl1mL_1zUAUJ6528L2xaP9lyHnfO4Wyp1II=" alt="hyderabad">
</button>
<!-- //https://media.istockphoto.com/photos/high-wide-angle-view-of-charminar-in-the-night-picture-id1215274990?b=1&k=20&m=1215274990&s=612x612&w=0&h=YFMDWkwlu4VjBchy6uox8TI5Wy3rtFY0hivMKOoXmWs= -->
<!-- https://media.istockphoto.com/photos/hyderabad-india-picture-id467851707?k=20&m=467851707&s=612x612&w=0&h=g3aQ7nqrqXp3pGgIbHopYLaavbv4aDN5AOaArpZVG9s= -->

   <button mat-raised-button (click)="btnClick()" >
    <img src="https://media.istockphoto.com/photos/taj-mahal-hotel-and-gateway-of-india-picture-id539018660?b=1&k=20&m=539018660&s=612x612&w=0&h=adwSr6Jn9CkrpKhHIALeKTWqu7mcT1SYI2OwBpQTNlc=" alt="mumbai">
</button>
<button mat-raised-button (click)="btnClick()" ng-click="myFunction()" ><img src="https://media.istockphoto.com/photos/howrah-bridge-on-river-ganges-at-kolkata-at-twilight-with-moody-sky-picture-id1164386039?b=1&k=20&m=1164386039&s=612x612&w=0&h=Ilz3-a-YsJNyN15udSEKPIYdVAv0afJEFlQJ7PW12uU=" alt="Kolkata"></button>
<button mat-raised-button (click)="btnClick()"><img src="https://media.istockphoto.com/photos/red-fort-delhi-a-historic-red-sandstone-fort-city-in-delhi-designated-picture-id692983104?k=20&m=692983104&s=612x612&w=0&h=tNdaL2-LxdfbbZkbtwRXkQvWpGnKWP8PpNH00kyfBPI=" alt="Delhi"></button>
<!-- <button mat-raised-button ><img src="" alt="Bangalore"></button> -->
    
</div>  

 