
mat-form-field {
    width:70%;
       float:right;
    
}
img{
  float:left;
}
form{
  width:130%;
  height:130%;
}
.login{
    
  height:80%;
  width:40%;
}
  button {
    float: center;
    width: 150px;
    margin-left: 30%;
  }