
    <div class="img">
    </div>

    <div  class="signup">
    <!-- <img src='\assets\images\image3.jpg' alt="img">  -->
    <form [formGroup]="signupForm" (ngSubmit) = "signup()" novalidate>
    <div class="form">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput  type="text" placeholder="Ex. Ram" formControlName="fullName">
    </mat-form-field>  <br> 

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. ram@gmail.com" formControlName="email">
    </mat-form-field>  <br> 

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Ex. 24@ib&0b" formControlName="password">
    </mat-form-field>
    </div> 
    <button  color="primary"  mat-raised-button type="submit">
        <span>Sign up</span>
    </button>
</form>
</div>
<!-- <form>
<label>name</label>
</form> [disabled]="!signupForm.valid" -->